body{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-size: 100%;
}
a{
	outline: none;
}
*{
	color: #08377c;
	font-weight: bold;
}
h3{
	font-weight: bolder;
}
h1{
	font-size: 50px;
	margin-left: 5%;
	font-weight: bolder;
}
.navbar-container {
	text-align: center;
	padding: 10px;
	font-size: 0;
	color: #335867;
}

.navbar-container ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.navbar-container ul li {
	display: inline-block;
	font-size: 2.5rem;
	margin-left: 35px;
}

.navbar-container ul li a {
	color: #315969;
	text-decoration: none;
	display: inline-block;	
	padding: 10px;
	transition: color 0.5s;
}

.navbar-container ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color: #487F8C;
}

.navbar-container ul li:hover .underline {
	background-color: #376475;
	width: 100%;
}

.navbar-container ul li:hover a {
}

.navbar-container ul li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.hamburger {
	display: none !important;
	z-index: 500;
}

#aluminationLogo {
	position: relative;
	display: block;
	width: 40%;
	top: 25%;
	margin-left: auto;
	margin-right: auto;
}
#aluminationLogo-overlay {
	position: relative;
	display: block;
	width: 40%;
	top: 25%;
	margin-left: auto;
	margin-right: auto;
}

#mark {
	position: relative;
	top: 30%;
	width: 6%;
}

#overlayImage {
	/*display: none;*/
	z-index: 401;
	transform: translateX(-200%);
	transition: transform 1s ease-in-out;
}

#listVSV {
	/*display: none;*/
	z-index: 400;
	transform: translateY(-125%);
	transition: transform 1s ease-in-out;
	background-color: #e6e4e4 ;
	margin-top: -20px;
}

/*------------- Media Rule for ipad-------------------*/
@media only screen and (min-width: 1200px) {
	#listVSV{
		display: none !important;
	}
	
	#aluminationLogo {
		display: none !important;
	}

	#overlayImage {
		display: none !important;
	}

}
@media only screen and (max-width: 1200px) {
  #navbarVSV { 
  	display: none; 
  }
  
  body {
  	background-color: #C7E1E2;
  	background-image: none;
  }


  /*#aluminationLogo {
	position: absolute;
	display: inline-block;
	width: 65%;
	top: 2% !important;
	left: 5%;

  }*/

  #aluminationLogo {
	  z-index: 2;
	position: absolute;
	display: block;
	width: 45vw;
	top: 2% !important;
	left: 20vw;
	margin-right: auto;
	}

  .hamburger {
	display: inline-block !important;
	position: absolute;
	right: 4%;
	top: 20px;
	}

	.overlay {
		margin-top: 0px;
	}

	#overlayImage {
	width: 75%;
	position: absolute;
	left: -38%;
	top: 20%;
	height: 70%;
	}

	.navbar-container ul li {
		display: block;
	}

	.navbar-container ul li.active-link .underline {
		width: 20%;
	}

	.navbar-container ul li:hover .underline {
		width: 20%;
	}

	.navbar-container ul {
		text-align: center;
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 15%;
		left: 0%;
	}

	.nav-link {
		position: relative;
		left: 5%;
	}
}

/*-----------------Media Rule for phone-----------*/
@media only screen and (max-width: 450px) {
	#overlayImage {
	width: 86%;
	position: absolute;
	left: -38%;
	top: 25vw;
	}

	.navbar-container ul {
		width: 100%;
		padding: 20%;
	}

	.navbar-container ul li.active-link .underline {
		width: 35%;
	}

	.navbar-container ul li:hover .underline {
		width: 35%;
	}

	.hamburger {
		right: 0;
		top: 1%;
	}

	.nav-link {
		position: relative;
		left: 15%;
	}
}

#listVSV{
    margin-top: -110px;
}
@keyframes slideInLeft{
	from{
		transform: translate(-25%,0);
		opacity: 0;}
	
	to{
		transform: translate(0,0);
		opacity: 1;}
}
	
.navbar-container ul li:hover ul.dropdown{
	display: flex;
	visibility: visible;
	transform: translate(0,25px);
	opacity: 1;
	z-index: 0;
	font-size: 0.8em;
}
.navbar-container ul li:hover li{
	animation-name: slideInLeft;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: backwards;
}
ul.dropdown{
	display: none;
	position: absolute;
	flex-direction: column;
	margin: 0;
	padding: 5px 5px 30px 5px;
	list-style: none;
	background: #e5e4ea;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.15),0px 4px 14px -1px rgba(0,0,0,0.10);
	transform: translate(0,-60px);
	transition: transform 0.2s ease-out, opacity 0.2s, z-index 0s 0.2s;
	opacity: 0;
	z-index: -1;
}

@media only screen and (max-width: 1200px) {
	ul.dropdown{
		position: relative;
		width: fit-content;
		transform: translate(300px,25px);
	}
	
}
