
@import url('https://fonts.googleapis.com/css?family=Lexend+Tera&display=swap');
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
	color: #08377c;
	font-weight: bold;
}
h1{
	font-size: 50px;
	margin-left: 5%;
	font-weight: bolder;
}
.heading_back{
	display: inline;
	width: 100px;
    position: relative;
    bottom: 80px;
    right: 17%;
}
/*
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

section, header{
	display: block;
}
body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  	max-width: 97vw;
	background-size: cover;
} */

/*--------------animation for background----------------------*/
/* 
#content {
	position: relative; }
	#content .img_brand {
	  margin-top: 10%;
	  margin-left: 10%;
	  width: 80%;
	  height: auto; }
	#content .content_block {
	  position: relative;
	  margin-top: 15%; }
	  #content .content_block span {
		font-size: 50px;
		color: #222;
		font-family: sophiaProBold; }
	  #content .content_block p {
		font-size: 20px;
		color: #222;
		line-height: 200%;
		margin-top: 2%;
		font-family: sophiaPro; }
	#content .thumbnail {
	  position: relative;
	  padding: 0;
	  border: none;
	  margin-top: 5%;
	  margin-bottom: 5%;
	  transform-origin: 100% 0%;
	  opacity: 0;
	  transform: scaleX(0); }
	  #content .thumbnail .img_thumbnail {
		position: relative;
		overflow: hidden; }
		#content .thumbnail .img_thumbnail img {
		  width: 100%;
		  height: auto; }
		#content .thumbnail .img_thumbnail .cover {
		  position: absolute;
		  top: 0;
		  left: 0;
		  height: 100%;
		  width: 100%;
		  background-color: #222; }
	  #content .thumbnail .caption {
		position: absolute;
		bottom: 0;
		left: 105%;
		width: 60%;
		text-align: left;
		transform: translateX(50px);
		opacity: 0; }
		#content .thumbnail .caption h3 {
		  font-family: sophiaProBold;
		  font-size: 36px; }
		#content .thumbnail .caption p {
		  font-size: 20px; }
		#content .thumbnail .caption a:hover {
		  color: #222; }
	#content .block_reveal {
	  opacity: 1;
	  transform: scaleX(1);
	  transition: all 300ms ease-out; }
	  #content .block_reveal .img_thumbnail .cover {
		width: 0% !important;
		transition: width 300ms ease-out 300ms; }
	  #content .block_reveal .caption {
		transform: translateX(0);
		opacity: 1 !important;
		transition: all 300ms ease-out 300ms; }
	#content .right_thumbnail .caption {
	  /* right: 105%; */
	  /* left: auto;
	  text-align: right; } */ 
body{
	overflow-x: hidden	;
}
img{
	margin-left: 20%;
	margin-right: auto;
	width: 5%;
}
p,h2{
	margin-left: 10%;
	margin-right: 5%;
}
h2{
	font-weight: bold;
	margin-right: 0;
}
#some-div{display: none;}
@media only screen and (max-width: 960px){
	#top-head{	
			height: 60px;
		}
	#some-div{
		display: block;
	}
}

#medium{
	display: none;
}
#small{
	display: block;
}
.row{
	margin-top: 40px;
	margin-bottom: 40px;
}


@media only screen and (max-width: 960px){
	#medium{
		display: none;
	}
	#small{
		display: block;
	}
	
}

.fullscr{
	display: none;
}
@media only screen and (min-width: 960px) {
	
	.row{
		margin-top: 2%;
		font-size: 2.4rem;
		margin-bottom: 17%;}
	.show-row{
		margin-bottom: 17%;}
	#navbarVSV{
		position: sticky;}
	#top-head{
		height: 90px;}
	#top-head:hover + .fullscr{
		display: block;}
	.fullscr:hover{
		display: block;}
	#go-to-top{
		position: sticky;
		bottom: 90%;}
	.hehe{text-align: center;}
	}
p{
	text-align: justify;
}
video{
	vertical-align: middle;
	height: 90%;
}
.p_2{
	font-weight:lighter;
	margin-top:-13%;
}
@media only screen and (min-width: 960px) {
	.p_2{
		font-size: 0.5em;
	}
}
@media only screen and (min-width: 1200px) {
	.p_2{
		font-size: 0.75em;
	}
	h2, .heading_back{
		padding-top: 70px;
	}
	.heading_back{
		bottom: 150px;
	}
}
@media only screen and (min-width: 1366px) {
	.p_2{
		font-size: 0.85em;
	}
}
@media only screen and (min-width: 1800px) {
	.p_2{
		font-size: 0.9em;
	}
}
@media only screen and (max-width: 1366px) {
	.p_2{
		margin-top: -21%;
	}
}
@media only screen and (max-width: 1200px) {
	.p_2{
		margin-top: -13%;
	}
}
@media only screen and (max-width: 992px) {
	.p_2{
		margin-top: -10%;
	}
}
@media only screen and (max-width: 550px) {
	h2{
		font-size: 1.8em;
	}
}
#reg_hda{
	font-size: 1.1em;
	font-style: oblique;
}